:root {
  /* Primary Colours */
  --darkMagenta: hsl(300, 43%, 22%);
  --softPink: hsl(333, 80%, 67%);

  /* Neutral */
  --darkGrayMagenta: hsl(303, 10%, 53%);
  --LightGrayMagenta: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);
}

body {
  font-family: "League Spartan", sans-serif;
  min-height: 100vh;
  box-sizing: border-box;
  margin: 0;
  font-size: 15px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  gap: 2rem;
  background: url(images/bg-pattern-top-mobile.svg) top no-repeat,
    url(images/bg-pattern-bottom-mobile.svg) bottom right no-repeat;
  padding: 4rem 1.5rem;

  border: 1px solid black;
}

.titleContainer {
  text-align: center;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--darkMagenta);

  line-height: 1.9rem;
}

.titleInfo {
  color: var(--darkGrayMagenta);
  line-height: 1.5rem;
}

.starContainer {
  width: 100%;
}

.starReviewContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.7rem;

  padding: 1rem;
  margin-bottom: 1rem;

  background-color: var(--LightGrayMagenta);
  border-radius: 10px;
}

.starRating {
  font-weight: 700;
  color: var(--darkMagenta);
}

.reviewContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.testimonial {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  color: var(--white);
  padding: 2rem;

  border-radius: 10px;
  background-color: var(--darkMagenta);
}

.nameInfoContainer {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.testimonialReview {
  line-height: 1.4rem;
}

.headShot {
  width: 3rem;
  border-radius: 50%;
}

.nameInfo {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;

  font-weight: 500;
}

.verified {
  color: var(--softPink);
}
